In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
from scipy import stats

In [4]:
df = pd.read_csv('Culture- Key Developments.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18100 entries, 0 to 18099
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   companyid       18100 non-null  int64
 1   companyname     18100 non-null  object
 2   headline        18100 non-null  object
 3   eventtype       18100 non-null  object
 4   objectroletype  18100 non-null  object
 5   announcedate    18100 non-null  object
 6   entereddateutc  18100 non-null  object
 7   sptodate        0 non-null      float64
 8   gvkey           18095 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 1.2+ MB

,companyid,companyname,headline,eventtype,objectroletype,announcedate,entereddateutc,sptodate,gvkey
0,21835,Microsoft Corporation,Microsoft's RMS POS Software Integrates to Nex...,Client Announcements,Target,1/3/2014,07JAN2014:08:06:00.000000,NaN,12141.0
1,21835,Microsoft Corporation,"Microsoft Corporation, Q2 2014 Earnings Call, ...",Earnings Calls,Target,1/3/2014,03JAN2014:18:28:00.000000,NaN,12141.0
2,21835,Microsoft Corporation,"Microsoft Corporation to Report Q2, 2014 Resul...",Earnings Release Date,Target,1/3/2014,03JAN2014:18:24:00.000000,NaN,12141.0
3,21835,Microsoft Corporation,Microsoft Releases Linux Integration Services ...,Product-Related Announcements,Target,1/3/2014,07JAN2014:04:11:00.000000,NaN,12141.0
4,21835,Microsoft Corporation,Microsoft RMS POS Software Integrates to BlueT...,Client Announcements,Target,1/8/2014,09JAN2014:10:32:00.000000,NaN,12141.0

In [8]:
import pandas as pd

# Assuming your data is stored in a DataFrame called df
# You may need to adjust column names and data types accordingly

# Convert announcedate column to datetime
df['announcedate'] = pd.to_datetime(df['announcedate'], format="%m/%d/%Y")

# Extract year from announcedate
df['year'] = df['announcedate'].dt.year

# Group by ticker and year, and count the number of observations in each group
ticker_year_counts = df.groupby(['companyname', 'companyid', 'gvkey', 'year']).size().reset_index(name='count')

# Print the aggregated counts
print(ticker_year_counts)

      companyname  companyid     gvkey  year  count
0   Alphabet Inc.      29096  160329.0  2014    335
1   Alphabet Inc.      29096  160329.0  2015    180
2   Alphabet Inc.      29096  160329.0  2016    150
3   Alphabet Inc.      29096  160329.0  2017    251
4   Alphabet Inc.      29096  160329.0  2018    248
..            ...        ...       ...   ...    ...
87   Walmart Inc.     313055   11259.0  2020    156
88   Walmart Inc.     313055   11259.0  2021    235
89   Walmart Inc.     313055   11259.0  2022    235
90   Walmart Inc.     313055   11259.0  2023    211
91   Walmart Inc.     313055   11259.0  2024     31

[92 rows x 5 columns]

In [9]:
#ticker_year_counts.to_csv('Key Developments Annual.csv', index=False)